{% extends 'layout.html' %}
{% block content %}
	<article class="media content-section">
		<img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_pics/' + slide.author.image_file) }}">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="#">{{ slide.author.username }}</a>

				<h2 class="article-title">{{ slide.title }}</h2>
				<div style = "height:350px; width:620px" id = 'viewpdf'></div>
			</div>
			<div class="row">
				<div class="col-3">
					<div class="like-comment-div">
				        {% if current_user.has_liked_slide(slide) %}
				            <a class="liked btn btn-primary" id = 'unlike' data-slide-id="{{ slide.id }}" data-action="like">Liked</a>
				        {% else %}
				            <a class="not-like btn btn-primary" id = 'like' data-slide-id="{{ slide.id }}" data-action="like">Like</a>                    
				        {% endif %}
				        <p id = 'likeCount'>{{ slide.likes | count }}</p>
				    </div>
				</div>
	            <div class="col-3">
	              <a href="{{ url_for('download', name = slide.file) }}">
	              <i class="fa fa-download"></i></a>
	              <p style="margin-left: -20px">download</p>
	            </div>
	            <div class="col-3">
	            	<i class="fa fa-share"></i>
	            	<p>share</p>
	            </div>
	            <div class="col-3">
	            	<i class="fa fa-eye"></i>
	            	<p>{{ visitors.count }}</p>
	            </div>
          	</div>

			<div class="article-content text-justify"><p><b>About Slide:&nbsp;</b>{{ slide.description }}</p></div>
			<div class="article-content"><p>Category:&nbsp; {{ slide.cats.name }}</p></div>
			<p><b>{{ slide.comments|count }} comments</b></p><hr>
			{% for comment in comments.items %}
				<div class="article-metadata">
					<img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_pics/'+comment.author.image_file) }}">
					<a class="mr-2" href="#">{{ comment.author.username }}</a>
					<span>
						<p class="text text-justify">{{ comment.comment }}</p>
					</span>
				</div>
			{% endfor %}
			<div class="row">
				<div class="col">
					{% if comments.has_prev %}
				      <a class ="btn btn-outline-info" href="{{ url_for('slide', slide_id = slide.id,  page=comments.prev_num) }}">&lt;&lt;</a>
				    {% else %}
				      <button class="btn btn-outline-info disabled">&lt;</button>
				    {% endif %}
				</div>
			    <div class="col-3">
				    {% if comments.has_next %}
				    	<a class="btn btn-outline-info" href="{{ url_for('slide',slide_id = slide.id, page=comments.next_num) }}">&gt;&gt;</a>
				    {% else %}
				    	<button class="btn btn-outline-info disabled">&gt;</button>
				    {% endif %}
			    </div>
			</div>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">{{ comment }}</legend>
					<div class="form-group">
						{{ form.comment.label(class = 'form-control-label') }}
						{% if form.comment.errors %}
							{{ form.comment.label(class = 'form-control form-control-lg is-invalid')}}
							<div class="invalid-feedback">
								{% for error in form.comment.errors %}
								<span>
									{{ error }}
								</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.comment(class = 'form-control form-control-lg')}}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form.submit(class = 'btn btn-outline-info') }}
					</div>

				</fieldset>
			</form>
		</div>
	</article>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename = 'pdfobject.min.js') }}"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $(".like-comment-div > a").click(function(e) {
                e.preventDefault();  

                let action = $(".like-comment-div > a").data("action");
                let slide_id = $(".like-comment-div > a").data("slide-id");

                $.ajax({
                    type: "GET",
                    url: "/like",
                    data: {
                        action: action,
                        slide_id: slide_id,
                    },
                    success: function(data){

                            // $("#like_" + slide_id).text(data.text);        // setting likes
                            // $("#unlike_" + slide_id).text(data.text);    // setting unlikes
                            $('#like').text(data.text);
                            $('#unlike').text(data.text);
                            $('#likeCount').text(data.like);
                    },
                    error: function(){
                        alert('error')
                    }
                    
                });
            });
        });

        var viewer = $('#viewpdf');
    	var slide_name = '{{ url_for('static', filename = 'slide_files/'+ slide.file) }}';
    	PDFObject.embed(slide_name, viewer);

    </script>

{% endblock %}

